<md-content class="padded-content-page">
    <div layout="row" layout-align="center center">
        <h2 class="md-display-3" translate>RECEIPT-ADMIN.DISPLAY-RECEIPT.TITLE</h2>
    </div>
    <div class="margin-20" layout="row" layout-align="center center">
        <h4>Receipt from {{vm.receipt.user}} uploaded at {{vm.receipt.uploadTimestamp}}</h4>
    </div>
    <div class="margin-20" layout="row" layout-align="center center">
        <md-list>
            <md-subheader class="md-no-sticky">Receipt Images</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="image in vm.receipt.images">
                <img ng-src="{{image.path}}" class="receipt-image-big" />
                <div class="md-list-item-text">
                    <pre hightlight lang="text" size="xsmall">{{image.ocrResult}}</pre>
                </div>
            </md-list-item>
        </md-list>
    </div>

    <div class="margin-20" layout="row">
        <h4>Parser results:</h4>
    </div>
    <div>
        <md-data-table-container>
            <table md-data-table md-progress="deferred">
                <thead>
                  <tr>
                    <th>Chain Code</th>
                    <th>Branch Name</th>
                    <th>Parsed Total</th>
                    <th>Parsed Date</th>
                    <th>Result Detail</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat-start="(index,result) in vm.receipt.results">
                    <td>{{result.chainCode}}</td>
                    <td>{{result.branchName}}</td>
                    <td>{{result.parsedTotal}}</td>
                    <td>{{result.parsedDate}}</td>
                    <td><md-button class="md-icon-button md-accent" aria-label="Edit" ng-click="vm.showReceiptResultDetail(index, result)">
                            <md-icon md-svg-icon="assets/images/icons/ic_edit_black_24px.svg"></md-icon>

                        </md-button>
                    </td>
                  </tr>
                  <tr ng-repeat-end>
                  </tr>
                </tbody>
            </table>
        </md-data-table-container>
        
    </div>
    <div class="margin-20" layout="row">
        <h4>Feedbacks of the receipt</h4>
    </div>
    <div>
        <table md-data-table md-progress="deferred">
            <thead>
              <tr>
                <th>id</th>
                <th>Rating</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start="feedback in vm.receipt.feedbacks">
                <td>{{feedback.id}}</td>
                <td>{{feedback.rating}}</td>
                <td>{{feedback.comment}}</td>
                <td><md-button class="button-assertive swipe-button" aria-label="Delete" ng-click="vm.deleteReceiptFeedback(feedback)">
                        <!-- the delete icon should be designed [a delete icon] -->
                        <md-icon md-svg-icon="assets/images/icons/ic_edit_black_24px.svg"></md-icon>
                    </md-button>
                </td>
              </tr>
              <tr ng-repeat-end>
            </tbody>
        </table>
    </div>
</md-content>
