<md-content class="padded-content-page">
    <div layout="row" layout-align="center center">
        <h2 class="md-display-3" translate>RECEIPT-ADMIN.DISPLAY-RECEIPT.TITLE</h2>
    </div>
    <div class="margin-20" layout="row" layout-align="center center">
        <h4>Receipt from {{vm.receipt.user}} uploaded at {{vm.receipt.uploadTimestamp}}</h4>
    </div>
    <div class="margin-20" layout="row" layout-align="center center">
        <md-list>
            <md-subheader class="md-no-sticky">Receipt Images</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="image in vm.receipt.images">
                <img ng-src="{{image.path}}" class="receipt-image-big" />
                <div class="md-list-item-text">
                    <pre hightlight lang="text" size="xsmall">{{image.ocrResult}}</pre>
                </div>
            </md-list-item>
        </md-list>
        <!-- <table>
            <tr ng-repeat="image in vm.receipt.images">
                <td><img ng-src="{{image.path}}"></td>
                <td><pre hightlight lang="text" size="xsmall">{{image.ocrResult}}</pre></td>
            </tr>
        </table> -->
    </div>
    <div class="margin-20" layout="row" layout-align="center center">
        <h4>Parsed receipt items:</h4>
    </div>
    <div class="margin-20" layout="row">
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="item in vm.receipt.items">
                <td>{{item.name}}</td>
                <td>{{item.buyPrice}}</td>
            </tr>
        </table>

    </div>
</md-content>
