<md-content class="padded-content-page">
    <div>
        <md-data-table-toolbar>
            <h2 class="md-title" translate>USER-ADMIN.LIST-USERS.TITLE</h2>
        </md-data-table-toolbar>

        <md-data-table-container>
            <table md-data-table md-progress="deferred">
                <thead md-order="query.order" md-trigger="onOrderChange">
                  <tr>
                    <th name="Email" order-by="email"></th>
                    <th name="First Name"></th>
                    <th name="Middle Name"></th>
                    <th name="Last Name"></th>
                    <th name="Phone"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr md-auto-select ng-repeat="user in vm.users">
                    <td>{{user.email}}</td>
                    <td>{{user.profile.firstName}}</td>
                    <td>{{user.profile.middleName}}</td>
                    <td>{{user.profile.lastName}}</td>
                    <td>{{user.profile.phone}}</td>
                    <td> <button type="button" class="btn btn-default"
                        ng-click="vm.update(user.id)">update</button></td>
                  </tr>
                </tbody>
            </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="vm.page.size" md-page="vm.page.currentPage" md-total="{{vm.page.totalElements}}" md-trigger="pageChanged"></md-data-table-pagination>

<!-- <tri-table columns="::vm.columns" contents="::vm.contents" page-size="5"></tri-table> -->
    </div>
</md-content>
